<div class="pricing-content">
  <div class="grid-items">
    <div class="grid-item">
      <br>
      <br>
      <br>

      <h1>Full body mobile <br> Organic Airbrush Tan: $45</h1>

      <p>$10 off your first tan</p>
    </div>
    <div class="grid-item">
      <h1>Group Prices</h1>

      <p>Groups of 3: $40 each</p>

      <p>Groups of 5: $35 each</p>

      <p>Groups of 10: $30 each</p>
      <br>

      <p>For travel outside zipcode 22153, please add $10 per person</p>
    </div>
    <div class="grid-item">
      <h1>Package Prices</h1>

      <p>Package of 3: $120</p>

      <p>($40 each)</p>

      <p>Package of 5: $175</p>

      <p>($35 each)</p>
      <br>

      <p>If you host a party, the host's tan is free!</p>
    </div>
  </div>
</div>

<!--Pricing Tab-->

<!--1 full body mobile Organic Airbrush Tan  $40.00-->
<!--$10.00 off your first time.-->

<!--Group Pricing:-->
<!--Group of 3 people - $40.00 each-->
<!--Group of 5 people - $35.00 each-->
<!--Group of 10 people - $30.00 each-->

<!--If you host a party the hosts tan is free!-->

<!--Package Pricing:-->
<!--Package of 3 tans - $120.00 (does not expire) $40/spray-->
<!--Package of 5 tans - $175.00 (does not expire) $35/spray-->

<!--*Travel outside the zipcode 22153 please add $10 per person*-->
