<!DOCTYPE html>
<html>
<head>
  <title>DistrictBronze</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="title_content">
  <h1>District <span class="pink_letter">B</span>ronze</h1>

  <h2>Organic Airbrush Tanning</h2>
</div>
<header class="navigation">
  <div class="menu-wrapper">
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>

    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">About</a></li>
        <li class="nav-link"><a href="/menu">Pricing</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Scheduling</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Before and After Photos</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Prepping</a></li>
        <li class="nav-link"><a href="javascript:void(0)">FAQ</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="body_content">
  <%= yield %>
</div>
<footer class="footer">
  <div class="footer-logo">
    <h1>District <span class="black_letter">B</span>ronze</h1>
  </div>
  <div class="footer-links">
    <ul>
      <!--<li><h3>Content</h3></li>-->
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)"></a></li>
    </ul>
    <ul>
      <!--<li><h3>Follow Us</h3></li>-->
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
  </div>

  <hr>

  <p>Copyright 2014 District Bronze</p>
</footer>
</body>
</html>
