<!DOCTYPE html>
<html>
<head>
  <title>DistrictBronze</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navigation">
  <div class="menu-wrapper">
    <a href="javascript:void(0)" class="logo">
      <h1>District Bronze</h1>
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">About</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Pricing</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Scheduling</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Before and After Photos</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Prepping</a></li>
        <li class="nav-link"><a href="javascript:void(0)">FAQ</a></li>
        <!--<li class="nav-link more"><a href="javascript:void(0)">More</a>-->
          <!--<ul class="submenu">-->
            <!--<li><a href="javascript:void(0)">FAQ</a></li>-->
            <!--<li><a href="javascript:void(0)">Before and After Photos</a></li>-->
            <!--<li><a href="javascript:void(0)">Prepping</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      </ul>
    </div>
    <!--<div class="navigation-tools">-->
      <!--<div class="search-bar">-->
        <!--<div class="search-and-submit">-->
          <!--<input type="search" placeholder="Enter Search" />-->
          <!--<button type="submit">-->
            <!--<img src="images/search-icon.png" alt="">-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<a href="javascript:void(0)" class="sign-up">Sign Up</a>-->
    <!--</div>-->
  </div>
</header>

<%= yield %>
<footer class="footer">
  <div class="footer-logo">
    <h1>District Bronze</h1>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)"></a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
  </div>

  <hr>

  <p>Copyright 2014 District Bronze</p>
</footer>
</body>
</html>
